:root {
  --color-principal: #a54657;
  --color-secundario: #f1a66a;
}
ul,
h1 {
  margin: 0;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
  background-color: var(--color-secundario);
}
.contenedor {
  background-color: var(--color-principal);
  color: #fff;
  height: 100vh;
}
.cabecera {
  height: 100px;
  border-bottom: 1px solid #fff;
}
.cabecera li {
  margin-left: 6px;
}
.cabecera .activo {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.cabecera a {
  color: inherit;
}
.item-inner {
  height: 80px;
  margin-bottom: 20px;
  background-color: #582630;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.enviar {
  background-color: #f26157;
  color: #fff;
}
